<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'to_dos/index' %>

  </head>

  <body>
    
    <h1 class="hoge2">ToDoApp ver_6.0.0_</h1>
    <%= yield %>
    <ul>＊＊＊ シンプルさを追求した自分だけのToDoリストアプリ ＊＊＊
      <h2>[機能紹介]</h2>
      <li>作成後、リアルタイムで表示</li>
      <li>終了チェックを押すと、リアルタイムで移動</li>
      <li>セルのダブルクリックで編集</li>
      <li>セルからフォーカスを外すと、リアルタイムで更新</li>
      <li>リアルタイムで削除可能</li>
    </ul>
    <div class='gradient-wave'> 
    <a class="hoge">〜〜〜</a><a class="hoge">T</a><a class="hoge">H</a><a class="hoge">A</a><a class="hoge">N</a><a class="hoge">K</a><a class="hoge">S</a><a class="hoge">      F</a><a class="hoge">O</a><a class="hoge">R</a><a class="hoge">        Y</a><a class="hoge">O</a><a class="hoge">U</a><a class="hoge">！〜〜〜</a>
   </div>
  </body>
</html>